<a name="order-form"></a>
<section class="order-form wow fadeIn">
    <form id="askForm" name="askForm">
        <header class="order-form__header">{{ .Site.Params.form_ask_header }}</header>

        <p class="order-form__subheader">{{ .Site.Params.form_ask_subheader }}</p>

        <input class="order-form__input" form="askForm" required="" type="text" name="name" placeholder="{{ .Site.Params.form_input_name }}" autocomplete="off">
        <input class="order-form__input" form="askForm" required="" type="phone" name="phone" placeholder="{{ .Site.Params.form_input_phone }}" autocomplete="off">
        <textarea name="message" form="askForm" class="order-form__input" placeholder="{{ .Site.Params.form_ask_question }}"></textarea>

        <div id="submitAskForm" class="order-form__button">{{ .Site.Params.form_ask_submit_btn }}</div>
    </form>
    <div class="order-form_thanks hidden" id="askFormThanksText">{{ .Site.Params.form_ask_thanks_text }}</div>
    <div class="order-form_errors hidden" id="askFormErrorsText">{{ .Site.Params.form_ask_errors_text }}</div>
</section>
