<a name="contacts">
</a>
<section class="contacts wow fadeIn">
    <header>{{ .Site.Params.section_header_6 }}</header>
    <div class="content">
        <p>{{ .Site.Params.contact_text_1 }}</p>
        <ul>
            <li>+380991990299</li>
            <li>{{ .Site.Params.contact_text_2 }}</li>
            <li>sales@mysmap.com</li>
        </ul>

        <p>{{ .Site.Params.contact_text_3 }}</p>
        <ul>
            <li>+380661990299</li>
            <li>denys.ozhovan@mysmap.com</li>
        </ul>

        <p>{{ .Site.Params.contact_text_4 }}</p>
        <ul>
            <li>support@mysmap.com</li>
            <li>https://support.mysmap.com</li>
        </ul>
    </div>
</section>
