<a name="partners"></a>
<section class="partners wow fadeIn">
    <header>{{ .Site.Params.section_header_3 }}</header>
    <div class="partners__wrapper">
        <img class="wow slideInLeft" alt="Gurtam" src="/images/logo/gurtam-logo.png" width="400" height="250">
        <img class="wow slideInRight" alt="Teltonika" src="/images/logo/teltonika-logo.png" width="400" height="250">
        <img class="wow slideInLeft" alt="Bitrek" src="/images/logo/bitrek-logo.png" width="400" height="250">
        <img class="wow slideInRight" alt="Galileo Sky" src="/images/logo/galileo-logo.png" width="400" height="250">
        <img class="wow slideInLeft" alt="Mechatronics" src="/images/logo/machatronics-logo.png" width="400" height="250">
        <img class="wow slideInRight" alt="Montel Rek" src="/images/logo/montel-rek-logo.png" width="400" height="250">
    </div>
</section>