<a name="prices">
</a>
<section class="prices wow fadeIn">
    <header>{{ .Site.Params.section_header_4 }}</header>

    <ul class="prices__list">

        <li class="prices__card wow slideInLeft">
            <span class="prices__type">{{ .Site.Params.type_set }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_1 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_1 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInRight">
            <span class="prices__type">{{ .Site.Params.type_set }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_2 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_2 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInLeft">
            <span class="prices__type">{{ .Site.Params.type_set }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_3 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_3 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInRight">
            <span class="prices__type">{{ .Site.Params.type_set }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_4 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_4 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInLeft">
            <span class="prices__type">{{ .Site.Params.type_service }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_5 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_5 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInRight">
            <span class="prices__type">{{ .Site.Params.type_service }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_6 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_6 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInLeft">
            <span class="prices__type">{{ .Site.Params.type_service }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_7 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_7 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>

        <li class="prices__card wow slideInRight">
            <span class="prices__type">{{ .Site.Params.type_service }}</span>
            <header class="prices__header">{{ .Site.Params.prices_header_8 }}</header>
            <span class="prices__price">{{ .Site.Params.prices_price_8 }}</span>
            <div class="button btnActiveOrderForm">{{ .Site.Params.prices_button }}</div>
        </li>
    </ul>

    <div class="content wow fadeInUp">
        <div id="btnActivePriceListEquipmentForm" class="prices__button button">{{ .Site.Params.prices_button_1 }}</div>
    </div>
    <div class="content wow fadeInUp">
        <div id="btnActivePriceListServiceForm" class="prices__button button">{{ .Site.Params.prices_button_2 }}</div>
    </div>

</section>