<a name="reviews"></a>
<section class="reviews wow fadeIn">
    <header>{{ .Site.Params.section_header_5 }}</header>
    <div class="content">
        <ol>
            <li><a target="_blank" rel="nofollow" href="https://www.google.com/maps/place/My+Security+Map+LC/@46.472064,30.7491582,17z/data=!4m7!3m6!1s0x40c63170caa10f67:0x28506a44dc62693f!8m2!3d46.472064!4d30.751347!9m1!1b1">{{ .Site.Params.reviews_text_1 }}</a></li>
            <li><a target="_blank" rel="nofollow" href="https://www.google.com/maps/place/My+Security+Map+LC/@46.472064,30.7491582,17z/data=!4m7!3m6!1s0x40c63170caa10f67:0x28506a44dc62693f!8m2!3d46.472064!4d30.751347!9m1!1b1">{{ .Site.Params.reviews_text_2 }}</a></li>
        </ol>
    </div>
</section>
