$hamburger-padding-x: 0;
$hamburger-padding-y: 3px;
$hamburger-layer-width         : 24px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 4px;
$hamburger-layer-color         : #343a3e;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 0.7;
$hamburger-types     : (collapse);
