.reviews {
    box-sizing: border-box;
    background-color: #f2f5fc;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 6em 2em;
    margin: 0;
    overflow: hidden;
}

.reviews header {
    margin-bottom: 1em;
}

.reviews .content {
    max-width: 25em;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.4;
 }

.reviews .content p {
    text-align: left;
}
.reviews .content ol{
    text-align: left;
    margin: 2em 0;
}

.reviews .content a{
    color: black;
}
